p.team-1-text {
    color:red;
    font-size: 28;
    text-align:center;
}

p.team-2-text {
    color:blue;
    font-size: 28;
    text-align:center;
}

p.team-1-score {
    color:red;
    font-size:100;

}

p.team-2-score {
    color:blue;
    font-size:100;
}

span.team-1 {
    background-color:red;
    color:white;
}

span.team-2 {
    background-color:blue;
    color:white;
}

p.word-box {
    margin-top: 2cm;
    margin-bottom: 2cm;
    font-size: 50;
    text-align: center;
}

button.next-word-button {
    font-size: 76;
    padding-top: 100;
    padding-bottom: 100;
    color: white;
    background: linear-gradient(90deg, red, blue);
}

#grad {
  background: gray; 
  background: -webkit-linear-gradient(-90deg, red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, red, blue); /* Standard syntax */
}