p.team-1-text {
    color:red;
    font-size: 28;
    text-align:center;
}

p.team-2-text {
    color:blue;
    font-size: 28;
    text-align:center;
}

p.team-1-score {
    color:red;
    font-size:50;
}

p.team-2-score {
    color:blue;
    font-size: 50;
}

button.team-1 {
    cursor: default;
    background-color:red;
    padding: 20 20 20 20;
    color:white;
    opacity: 1;
}

button.team-2 {
    cursor: default;
    background-color:blue;
    padding: 20 20 20 20;
    color:white;
    opacity: 1;
}

.btn.disabled, .btn[disabled] {
    cursor: not-allowed;
    opacity: .4;
}

p.word-box {
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
    font-size: 25;
    text-align: center;
}

button.next-word-button {
    font-size: 38;
    padding-top: 40;
    padding-bottom: 40;
    color: white;
    background: linear-gradient(90deg, red, blue);
}

#grad {
  background: gray; 
  background: -webkit-linear-gradient(-90deg, red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, red, blue); /* Standard syntax */
}

#ip-address{
    visibility: hidden;
}

body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
