<html>
    <head>
        <title>WordMemes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
                crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="container">
            <div class="row" style="text-align:center;">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-2 col-xs-2">
                    <font size="6" color="red">Team 1</font>
                </div>

                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-2 col-xs-2">
                    <font size="6" color="blue">Team 2</font>
                </div>
            </div>

            <div class="row" style="text-align:center; font-size:108">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-2 col-xs-2" >
                    <p id="team1score" style="color:red;">0</p>
                </div>

                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-2 col-xs-2">
                    <p id="team2score" style="color:blue;">0</p>
                </div>
            </div>

            <div class="row" align="center">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-1 col-xs-1">
                    <span id="team1plus" class="btn btn-lg glyphicon glyphicon-plus" style="background-color:red; color:white;"></span>
                </div>
                <div class="col-md-1 col-xs-1">
                    <span id="team1minus"class="btn btn-lg glyphicon glyphicon-minus" style="background-color:red; color:white;"></span>
                </div>

                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-1 col-xs-1">
                    <span id="team2plus" class="btn btn-lg glyphicon glyphicon-plus" style="background-color:blue; color:white;"></span>
                </div>
                <div class="col-md-1 col-xs-1">
                    <span id="team2minus" class="btn btn-lg glyphicon glyphicon-minus" style="background-color:blue; color:white;"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-4 col-xs-4">
                    
                </div>
            </div>
        </div>
    </body>

    <footer>
        
    </footer>
</html>