<html>
    <head>
        <title>WordMemes</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="../static/js/main.js">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
                crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-2 col-xs-2">
                    <p class="team-1-text">Team 1</p>
                </div>

                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-2 col-xs-2">
                    <p class="team-2-text">Team 2</p>
                </div>

                <div class="col-md-2 col-xs-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-2 col-xs-2" >
                    <p id="team-1-score" class="team-1-score">0</p>
                </div>

                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-2 col-xs-2">
                    <p id="team-2-score" class="team-2-score">0</p>
                </div>

                <div class="col-md-2 col-xs-2"></div>
            </div>

            <div class="row" align="center">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-1 col-xs-1">
                    <span id="team-1-plus" class="team-1 btn btn-lg glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-md-1 col-xs-1">
                    <span id="team-1-minus"class="team-1 btn btn-lg glyphicon glyphicon-minus"></span>
                </div>

                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-1 col-xs-1">
                    <span id="team-2-plus" class="team-2 btn btn-lg glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-md-1 col-xs-1">
                    <span id="team-2-minus" class="team-2 btn btn-lg glyphicon glyphicon-minus"></span>
                </div>

                <div class="col-md-2 col-xs-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-4"></div>

                <div class="col-md-4 col-xs-4">
                    <p id="current-word"></p>
                </div>
            </div>
        </div>
    </body>

    <footer>
        
    </footer>
</html>
